<html>
    <head>
        <link rel="stylesheet" href="assets/style.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="assets/anime.min.js"></script>
        <style> body{background-color:rgb(32, 32, 32) !important;} section{height: 100%!important;position: absolute;}</style>
    </head>
    <body>
        <section>
            <svg class="logo" width="100%" height="448" viewBox="0 0 1024 448">
                

                <g class="stripes" transform="translate(202.000000, 128.000000)" fill="#FFF">
                    <path d="M575,4 L579,0 L640,0 L636,4 L575,4 L575,4 L575,4 L575,4 Z" class="stripe stripe-left"></path>
                    <path d="M570,12 L574,8 L635,8 L631,12 L570,12 L570,12 L570,12 L570,12 Z" class="stripe stripe-left"></path>
                    <path d="M565,20 L569,16 L630,16 L626,20 L565,20 L565,20 L565,20 L565,20 Z" class="stripe stripe-left"></path>
                    <path d="M560,28 L564,24 L625,24 L621,28 L560,28 L560,28 L560,28 L560,28 Z" class="stripe stripe-left"></path>
                    <path d="M555,36 L559,32 L620,32 L616,36 L555,36 L555,36 L555,36 L555,36 Z" class="stripe stripe-left"></path>
                    <path d="M550,44 L554,40 L615,40 L611,44 L550,44 L550,44 L550,44 L550,44 Z" class="stripe stripe-left"></path>
                </g>

                <g class="katakana" transform="translate(202.000000, 128.000000)" fill="#FFF">
                    <!-- n -->
                    <path d="M55,65 L56,65 L136,65 L135,65 L55,65 Z" data-d="M0,92 L60,0 L120,0 L60,92 L0,92 Z"></path>
                    <path d="M100,65 L179,65 L179,64 L99,64 L100,65 Z" data-d="M105,92 L165,92 L120,0 L60,0 L105,92 Z"></path>
                    <path d="M180,65 L181,65 L261,65 L260,65 L180,65 Z" data-d="M105,92 L165,0 L225,0 L165,92 L105,92 Z"></path>

                    <!-- t -->
                    <path d="M169,28 L197,0 L199,28 L171,0 L169,28 Z" data-d="M253,28 L201,0 L461,0 L413,28 L253,28 Z"></path>
                    <path d="M295,65 L296,65 L330,65 L330,65 L295,65 Z" data-d="M260,92 L320,0 L380,0 L320,92 L260,92 Z"></path>

                    <!-- u -->
                    <path d="M55,65 L56,65 L136,65 L135,65 L55,65 Z" data-d="M420,92 L460,0 L520,0 L460,92 L420,92 Z"></path>
                    <path d="M169,92 L197,64 L199,64 L171,92 L169,92 Z" data-d="M440,92 L440,60 L581,60 L553,92 L440,92 Z"></path>
                    <path d="M55,65 L56,65 L136,65 L135,65 L55,65 Z" data-d="M520,92 L550,46 L610,46 L580,92 L520,92 Z"></path>
                </g>
                <g class="text-fills" transform="translate(0.000000, 240.000000)" fill="#FFF">
                    <path d="M188,0 L188,0 L188,84 L168,84 L168,0 Z" id="i"></path>
                    <path d="M220,20 L220,84 L200,84 L200,16 L216,0 L328,0 L344,16 L344,84 L324,84 L324,20 L282,20 L282,84 L262,84 L262,20 L220,20 Z" id="m"></path>
                    <path d="M438,84 L468,84 L468,16 L452,0 L372,0 L356,16 L356,84 L376,84 L376,20 L448,20 L448,84 L438,84 Z" id="n"></path>
                    <path d="M500,0 L500,0 L500,84 L480,84 L480,0 Z" id="i"></path>
                    <path d="M544,84 L624,84 L624,16 L608,0 L528,0 L512,16 L512,84 L532,84 L532,20 L604,20 L604,84 L594,84 Z" id="n"></path>
                    <path d="M636,64 L656,84 L700,84 L716,68 L716,0 L696,0 L696,64 L636,64 Z" id="j"></path>
                    <path d="M728,48 L728,68 L744,84 L824,84 L840,68 L840,16 L824,0 L748,0 L728,20 L820,20 L820,64 L748,64 L748,52 L788,52 L808,32 L744,32 L728,48 Z" id="a"></path>
                </g>
                <g stroke="#FFF" stroke-width="2" fill="none" fill-rule="evenodd">
                
                    <!-- i -->
                    <path d="M168,240 L168,324" class="line vert" stroke-linecap="square"></path>
                    <path d="M168,324 L188,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M168,240 L188,240" class="line hori" stroke-linecap="square"></path>
                    <path d="M188,240 L188,324" class="line vert" stroke-linecap="square"></path>

                    <!-- m -->
                    <path d="M200,256 L200,324" class="line vert" stroke-linecap="square"></path>
                    <path d="M216,240 L200,256" class="line diag-right"></path>
                    <path d="M200,324 L220,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M220,261 L220,323" class="line vert" stroke-linecap="square"></path>
                    <path d="M216,240 L328,240" class="line hori" stroke-linecap="square"></path>
                    
                    <path d="M220,260 L262,260" class="line hori" stroke-linecap="square"></path>
                    <path d="M262,261 L262,323" class="line vert" stroke-linecap="square"></path>
                    <path d="M262,324 L282,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M282,261 L282,323" class="line vert" stroke-linecap="square"></path>
                    <path d="M282,260 L324,260" class="line hori" stroke-linecap="square"></path>
                    
                    <path d="M324,261 L324,323" class="line vert" stroke-linecap="square"></path>
                    <path d="M328,240 L344,256" class="line diag-left"></path>
                    <path d="M324,324 L344,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M344,256 L344,324" class="line vert" stroke-linecap="square"></path>

                    <!-- n -->
                    <path d="M356,256 L356,324" class="line vert" stroke-linecap="square"></path>
                    <path d="M372,240 L356,256" class="line diag-right"></path>
                    <path d="M356,324 L376,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M376,260 L376,324" class="line vert" stroke-linecap="square"></path>
                    <path d="M372,240 L452,240" class="line hori" stroke-linecap="square"></path>
                    <path d="M376,260 L448,260" class="line hori" stroke-linecap="square"></path>
                    <path d="M448,260 L448,324" class="line vert" stroke-linecap="square"></path>
                    <path d="M452,240 L468,256" class="line diag-left"></path>
                    <path d="M448,324 L468,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M468,256 L468,324" class="line vert" stroke-linecap="square"></path>

                    <!-- i -->
                    <path d="M480,240 L480,324" class="line vert" stroke-linecap="square"></path>
                    <path d="M480,324 L500,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M480,240 L500,240" class="line hori" stroke-linecap="square"></path>
                    <path d="M500,240 L500,324" class="line vert" stroke-linecap="square"></path>

                    <!-- n -->
                    <path d="M512,256 L512,324" class="line vert" stroke-linecap="square"></path>
                    <path d="M528,240 L512,256" class="line diag-right"></path>
                    <path d="M512,324 L532,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M532,260 L532,324" class="line vert" stroke-linecap="square"></path>
                    <path d="M528,240 L608,240" class="line hori" stroke-linecap="square"></path>
                    <path d="M532,260 L604,260" class="line hori" stroke-linecap="square"></path>
                    <path d="M604,260 L604,324" class="line vert" stroke-linecap="square"></path>
                    <path d="M608,240 L624,256" class="line diag-left"></path>
                    <path d="M604,324 L624,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M624,256 L624,324" class="line vert" stroke-linecap="square"></path>

                    <!-- j -->
                    <path d="M636,304 L656,324" class="line diag-left"></path>
                    <path d="M636,304 L696,304" class="line hori" stroke-linecap="square"></path>
                    <path d="M656,324 L700,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M696,240 L696,304" class="line vert" stroke-linecap="square"></path>
                    <path d="M716,308 L700,324" class="line diag-right"></path>
                    <path d="M696,240 L716,240" class="line hori" stroke-linecap="square"></path>
                    <path d="M716,240 L716,308" class="line vert" stroke-linecap="square"></path>

                    <!-- a -->
                    <path d="M748,292 L748,304" class="line vert" stroke-linecap="square"></path>
                    <path d="M728,288 L728,308" class="line vert" stroke-linecap="square"></path>
                    <path d="M748,240 L728,260" class="line diag-right"></path>
                    <path d="M728,308 L744,324" class="line diag-left"></path>
                    <path d="M744,272 L728,288" class="line diag-right"></path>
                    <path d="M748,240 L824,240" class="line hori" stroke-linecap="square"></path>
                    <path d="M744,272 L808,272" class="line hori" stroke-linecap="square"></path>
                    <path d="M748,292 L788,292" class="line hori" stroke-linecap="square"></path>
                    <path d="M748,304 L820,304" class="line hori" stroke-linecap="square"></path>
                    <path d="M744,324 L824,324" class="line hori" stroke-linecap="square"></path>
                    <path d="M729,260 L820,260" class="line hori" stroke-linecap="square"></path>
                    <path d="M808,272 L788,292" class="line diag-right"></path>
                    <path d="M820,260 L820,304" class="line vert" stroke-linecap="square"></path>
                    <path d="M824,240 L840,256" class="line diag-left"></path>
                    <path d="M840,308 L824,324" class="line diag-right"></path>
                    <path d="M840,256 L840,308" class="line vert" stroke-linecap="square"></path>
                </g>
            </svg>
        </section>
        <section><img class="logo-img fadeIn" src="data/logo.png" /></section>
        <section><p class="line-1 center">Title : Social Network Relation Study</p></section>
        <section><p class="line-2 center">Author : IMNINJA<span class="typing-blink">|</span></p> ></section>
        <section class="home_center">   
            <button id="enter_btn" class="fadeIn" onclick="home();">Enter</button>
        </section>
        <script>
            $(document).ready(function() {
                var logoAnimation = anime.timeline({
                    direction: 'alternate'
                });

                logoAnimation.add([
                    {
                        targets: '.stripes path',
                        translateX: [-1000, 0],
                        opacity: {
                        value: 1,
                        duration: 100
                        },
                        fill: '#F9C100',
                        delay: (el, i) => 3200 + (i * 75),
                        duration: 400,
                        easing: 'easeOutExpo',
                        offset: 0
                    }, {
                        targets: '.katakana path',
                        d: (el) => el.getAttribute('data-d'),
                        opacity: {
                        value: [0, 1],
                        duration: 100
                        },
                        fill: '#F9C100',
                        delay: (el, i) => 2400 + (i * 120),
                        duration: 1200,
                        easing: 'easeOutCirc',
                        offset: 0
                    }, {
                        targets: '.text-fills path',
                        opacity: [0, 1],
                        fill: '#F9C100',
                        easing: 'easeOutExpo',
                        duration: 200,
                        delay: (t, i) => 3300 + (anime.random(0, 450)),
                        offset: 0
                    }, {
                        targets: '.line',
                        translateX: (target) => {
                        let x = 1200;
                        let translate;
                        if (target.classList.contains('hori')) translate = anime.random(0, 1) ? x : -x;
                        if (target.classList.contains('diag-right') || target.classList.contains('diag-left')) translate =  x / 3;
                        return [translate, 0];
                        },
                        translateY: (target) => {
                        let y = 1200;
                        let translate;
                        if (target.classList.contains('vert')) translate = anime.random(0, 1) ? y : -y;
                        if (target.classList.contains('diag-right')) translate =  -y / 3;
                        if (target.classList.contains('diag-left')) translate =  y / 3;
                        return [translate, 0];
                        },
                        scale: {
                        value: [6, 1],
                        duration: 500,
                        },
                        stroke: '#F9C100',
                        opacity: {
                        value: [0, 1],
                        duration: 100,
                        },
                        delay: (t, i) => (i * 25),
                        duration: 500,
                        easing: 'easeOutQuart',
                        offset: 0
                    }
                ]);
                $('#enter_btn').click(function(event) {
                    event.preventDefault();
                    newLocation = "<%= home_link %>";
                    $('body').fadeOut(3000, newpage);
                });
                function newpage(){
                    window.location = newLocation;
                }
            });
        </script>
    </body>
</html>